.admin {
  width: 100vw;
  height: 100%;
  display: flex;
}

.admin-side {
  width: 12rem;
  background-color: #004282;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.admin-main {
  height: 100vh;
  margin-left: 16rem;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 75%;
}

.table-header{
  background-color: #004282;
  color: white;
}
td {
  padding: 1rem;
  text-align: center;
}

th {
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin-top: 2rem;
}

ul li {
  padding-top: 1rem;
}

.sidebarlink {
  color: white;
  text-decoration: none;
}

.active-link{
  color: #004282;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}